@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("/static/fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("/static/fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
         url("/static/fonts/HelveticaRegular/HelveticaRegular.woff2") format("woff2"),
         url("/static/fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
         url("/static/fonts/HelveticaRegular/HelveticaRegular.ttf") format("ttf"),
         url("/static/fonts/HelveticaRegular/HelveticaRegular.svg#HelveticaNeueCyr-Roman") format("svg");
    font-style: normal;
    font-weight: 300;
}