# Basics
.git
*.py[cod]
__pycache__
*.env

# Jupyter notebook
.*ipynb_checkpoints/
*.ipynb

web/frontend/node_modules
web/frontend/static_production
web/frontend/package-lock.json
compose/nginx/static_production

*.sqlite3