<footer class="page__footer footer">
    <div class="footer__top">
        <div class="content-area">
            <div class="contacts">
                <p>По любым вопросам, пожалуйста, связывайтесь со мной:</p>
                <p>+7 (905) 740-80-30, a.kuznetsova.psy@mail.ru</p>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="content-area">
        ИП Анастасия Кузнецова 777777777777, 2019. Все права защищены.
        </div>
    </div>
</footer>
