<header class="header scrolled container-fluid">
    <div class="content-area">
        <div class="row">
            <div class="header__logo-wrap">
                <a class="logo scroller" href="#intro">
                    LOGO
                </a>
            </div>
            <nav class="header__nav">
                <ul>
                    <li>
                        <a class="scroller" href="#work">
                            О школе
                        </a>
                    </li>
                    <li>
                        <a class="scroller" href="#process">
                            Услуги
                        </a>
                    </li>
                    <li>
                        <a class="scroller" href="#process">
                            Отзывы
                        </a>
                    </li>
                    <li>
                        <a class="scroller js-contact" href="#contact">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
