<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{% block meta_title %}{% endblock %}</title>
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
	{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('css/styles.css') }}" />
	{% endblock css %}
	{% block scripts_head %}
	{% endblock scripts_head %}
</head>


<body class="page">
	<div class="page__content">
		<div class="page__content-top">
			{% block header %}
				{% include "base/header.html" %}
			{% endblock header %}

			{% block content %}
			{% endblock content %}
			{% block sidenav %}
				{% include "base/sidenav.html" %}
			{% endblock sidenav %}
		</div>

		{% block footer %}
			{% include "base/footer.html" %}
		{% endblock footer %}
	</div>

	{% block modals %}
	{% endblock modals %}

	{% block scripts %}
		<script src="{{ static('js/common.js') }}"></script>
		<script type="text/javascript">
			function openNav() {
				document.getElementById("sidenav").style.width = "100%";
				console.log('pidor');
			}
			function closeNav() {
				document.getElementById("sidenav").style.width = "0";
			}
		</script>
	{% endblock scripts %}	
</body>
