{% extends "base.html" %}

{% block css %}
	{{ super() }}
    <link rel="stylesheet" href="{{ static('css/owl.carousel.min.css') }}" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="{{ static('css/owl.theme.default.min.css') }}" type="text/css" media="screen" /> 
{% endblock css %}

{% block content %}
	<div class="page__content">

		<div class="hero">
			<div class="hero__placeholder">
			</div>
			<div class="hero__content-wrap">
				<span class="gradient has-parallax">
				</span>
				<div class="hero__image has-parallax">
				</div>
				<div class="content-area">
					<div class="hero__content">
						<div class="hero__text">
							<h1>Школа психологии</h1>
							<p>Анастасии Кузнецовой</p>
							<a class="btn full">
								УЗНАТЬ ПОДРОБНОСТИ
							</a>
						</div>
					</div>
				</div>
				<div class="hero__overlay" style="background-image: -moz-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60));"></div>
			</div>
		</div>

	<div class="about">
		<div class="content-area">
			<h2 class="subtitle">Привет, я Настя.</h2>
			<div class="about__content">
				<div class="about__content-left">
					<div class="about__img-wrap">
						<img class="about__img" src="{{ static('images/02.jpg') }}">
					</div>
					<div class="about__contacts">
						<a class="about__link"
							href="https://www.instagram.com/a.kyznetsova/"
							target="_blank"
						>
							<img src="{{ static('images/instagram.webp') }}">
						</a>
						<a class="about__link"
							href="mailto:a.kuznetsova.psy@mail.ru"
							target="_blank"
						>
							<img src="{{ static('images/mail.webp') }}">
						</a>
						<a class="about__link"
							href="tel:+7 (905) 740-80-30"
							target="_blank"
						>
							<img src="{{ static('images/phone.webp') }}">
						</a>
					</div>
				</div>
				<div class="about__content-right">
					<div class="about__text">
							<div class="quote quote_start">
								“
							</div>
							<p>
							Я психолог, гештальтерапевт, гипнолог, 
							кандидат социологических наук. Я закончила 
							магистратуру МГУ, обучалась у лучших российских и европейских специалистов, 
							постоянно совершенствую свои знания. Я люблю людей и верю в
							уникальность каждого человека.
							</p>
							<p>Я верю, что каждый человек, обладает всеми необходимыми ресурсами, 
							и способен сделать свою жизнь лучше и гармоничнее. 
							В то же время необходимо большое мужество, чтобы встать 
							на путь самопознания, исцеления, встречи со своими 
							«демонами». Когда человек начинает ясно видеть свои 
							способы взаимодействия с другими людьми, брать 
							ответственность за свою жизнь и знакомиться с 
							новыми способами реагирования на привычные 
							ситуации, он становится творцом своей жизни.
							<p>Как же здорово жить легко, комфортно, полноценно, используя возможности и ресурсы своей психики
							и своего тела, получая от жизни больше удовольствия.
							</p> 
							<div class="quote quote_end">
								”
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="goals">
			<div class="content-area">
				<div class="goals__content">
					<h2 class="subtitle">
						Цель терапии
					</h2>
					<p>
					помочь клиенту вырваться из круга неудач, научиться контролировать разрушительные импульсы или преодолевать подавляющее состояние апатии и бессилия.
					</p>
				</div>
			</div>
			<div class="overlay"></div>
			<div class="gradient">
			</div>
		</div>

		<div class="message">
			<div class="content-area">
				<div class="message__content">
					<div class="quote quote_start">
					“
					</div>
					<p>
					Мы живём в мире, который заставляет нас двигаться на высоких 
					скоростях, преодолевать себя, желать большего, стремиться
					соответствовать образу «идеального» современного человека,
					перед которым открыты многочисленные возможности.

					Сейчас доступна практически любая информация, любая профессия, 
					даже выбор хлеба или кофе в магазине может озадачить.
					</p>

					<p>
					К сожалению, количество предлагаемых вариантов чаще ставит в тупик,
					а не наоборот.

					А красивые картинки в социальных сетях, 
					увлекательные истории по телевидению и радио, пестрящие обложки 
					журналов, лишь добавляют масло в огонь. 
					</p>

					<p>
					Мы все больше ориентируемся на внешние показатели 
					успешности, все дальше уходя от себя истинных, от 
					настоящих чувств и проживаний, от ощущения своей 
					индивидуальности и уникальности.

					В погоне за «абсолютным счастьем», карьерой, 
					общественным призванием, красивым телом, мы начинаем
					терять себя, свою свободу, спонтанность. 
					</p>

					<p>
					Мы начинаем ощущать своё одиночество 
					несмотря на многочисленные социальные 
					связи, наличие семьи и друзей, убегать от тревоги посредством смены работы, 
					изнурительных занятий спортом, алкоголя, новых сексуальных связей.
					</p>

					<p>
					И здесь очень важно вовремя остановиться, и 
					обратиться за профессиональной помощью.

					Опытный психолог может помочь разобраться в себе, в своих 
					истинных желаниях, найти новые ориентиры  или разобраться в старых, понять
					способы взаимодействия с окружающими, скорректировать 
					их если это необходимо, восстановить гармоничные 
					отношения с собой, с миром, с окружающими.
					</p>
					<div class="quote quote_end">
						”
					</div>
					<div class="singature">
						— АНАСТАСИЯ КУЗНЕЦОВА
					</div>
				</div>
			</div>
		</div>

		<div class="quotes">
			<div class="gradient">
			</div>
			<div class="content-area">
				<div class="owl-carousel owl-theme"
					id="carousel-1"
				>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“К психологическому росту ведет сознавание настоящего без убегания в прошлое или будущее. 
							Переживание настоящего в любой данный момент есть единственно возможный реальный опыт, 
							условие удовлетворенности и полноты жизни, и состоит в принятии с открытым сердцем этого 
							опыта настоящего.”
							<div class="author">
								<a class="author__name"
								>
									Фредерик Перлз
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_01.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“Огромным достижением личности… является акт высочайшего мужества – обращение лицом к жизни;
							так происходит полное утверждение всего, что составляет суть личности, так осуществляется успешная
							адаптация к универсальным основам бытия при максимально возможной свободе самоопределения.”
							<div class="author">
								<a class="author__name">
									К. Г. Юнг
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_02.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“Многочисленные проблемы возникают, когда мы пытаемся оправдать ожидания других, 
							вместо того, чтобы определить наши собственные.”
							<div class="author">
								<a class="author__name">
								Карл Роджерс 
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_03.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“Когда необходимо сделать выбор, а вы его не делаете, – это тоже выбор.”
							<div class="author">
								<a class="author__name">
								Уильям Джеймс  
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_04.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“Ваш взор станет ясным лишь тогда, когда вы сможете заглянуть в свою собственную душу.”
							<div class="author">
								<a class="author__name">
								Карл Густав Юнг  
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_02.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“К психологическому росту ведет сознавание настоящего без убегания 
							в прошлое или будущее. Переживание настоящего в любой данный 
							момент есть единственно возможный реальный опыт, условие
							удовлетворенности и полноты жизни, 
							и состоит в принятии с открытым сердцем этого 
							опыта настоящего.”
							<div class="author">
								<a class="author__name">
								Фредерик Перлз  
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_01.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“Счастье подобно бабочке. Чем больше ловишь его, тем 
							больше оно ускользает. Но если вы перенесете
							свое внимание на другие вещи, 
							Оно придет и тихонько сядет вам на плечо.”
							<div class="author">
								<a class="author__name">
								Виктор Франкл
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_05.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“Стремление найти смысл жизни является главной мотивирующей силой в человеке...
							Я не побоюсь сказать, что в мире не существует более действенной 
							помощи для выживания даже в самых ужасных условиях, 
							чем знание, что твоя жизнь имеет смысл.”
							<div class="author">
								<a class="author__name">
								Виктор Франкл
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_05.jpg') }}"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="quotes__item">
						<div class="quotes__item-content">
							“Несчастная судьба многих людей – следствие несделанного ими выбора.
							Они ни живые, ни мертвые. Жизнь оказывается бременем, 
							бесцельным занятием, а дела – лишь средством защиты от мук бытия в царстве теней.”
							<div class="author">
								<a class="author__name">
								Эрих Фромм
								</a>
								<div class="author__photo-wrap">
									<img class="author__photo"
										src="{{ static('images/author_06.png') }}"
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="reviews">
			<div class="content-area">
				<div class="reviews__content">
					<h2 class="subtitle">Отзывы</h2>
					<div class="reviews__list">
						{% include 'blocks/reviews.html' %}
					</div>
				</div>
			</div>
		</div>

		<div class="subscribe">
			<div class="content-area">
				<div class="subscribe__content">
					<div class="subscribe__content-left">
						<h3 class="subscribe__title">
							Оставить заявку
						</h3>
						<div class="subscribe__text">
						По вопросам консультирования и сотрудничества Вы можете связаться со мной, заполнив электронную форму ниже:
						</div>
						<div class="subscribe__form form">
							<div class="input-box">
								<input class="input" placeholder="Имя">
							</div>
							<div class="input-box">
								<input class="input" placeholder="Телефон">
							</div>
							<a class="btn full">
								Отправить
							</a>
						</div>
					</div>
					<div class="subscribe__content-right">
						<div class="subscribe__img-wrap">
							<img class="subscribe__img"
								src="{{ static('images/03.jpg') }}"
							>
							<div class="subscribe__policy">
								<p>Нажимая "отправить", Вы соглашаетесь с</p>
								<a href="#">Политикой конфиденциальности</a>
							</div>
							<div class="gradient"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock content %}

{% block scripts %}
	{{ super() }}
	<script src="{{ static('js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ static('js/owl.carousel.min.js') }}"></script>
	<script src="{{ static('js/main.js') }}"></script>
{% endblock scripts %}