{% extends "base.html" %}

{% block css %}
	{{ super() }}
    <link rel="stylesheet" href="{{ static('css/owl.carousel.min.css') }}" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="{{ static('css/owl.theme.default.min.css') }}" type="text/css" media="screen" /> 
{% endblock css %}

{% block content %}
	<div class="page__content">

		<div class="hero">
			<div class="hero__placeholder">
			</div>
			<div class="hero__content-wrap">
				<span class="gradient has-parallax">
				</span>
				<div class="hero__image has-parallax">
				</div>
				<div class="content-area_mb hero__content">
					<div class="hero__text">
						<h1 class="title hero__title">
							Академия психологии
						</h1>
						<div class="hero__name">
							<div class="hero__first-name">
							Анастасии
							</div>
							<div class="hero__last-name">
							Кузнецовой
							</div>
						</div>
						<a class="btn full">
							УЗНАТЬ ПОДРОБНОСТИ
						</a>
					</div>
				</div>
				<div class="hero__overlay">
				</div>
			</div>
		</div>

		<div class="about">
			<div class="content-area_mb">
				<div class="about__content-wrap">
					<h2 class="subtitle">Привет, я Настя.</h2>
					<div class="about__content">
						<div class="about__content-left">
							<div class="about__img-wrap">
								<img class="about__img" src="{{ static('images/02.jpg') }}">
							</div>
							<div class="about__contacts">
								<a class="social-link"
									href="https://www.instagram.com/a.kyznetsova/"
									target="_blank"
								>
									<img src="{{ static('images/icons/instagram.svg') }}">
								</a>
								<a class="social-link"
									href="mailto:a.kuznetsova.psy@mail.ru"
									target="_blank"
								>
									<img src="{{ static('images/icons/mail.svg') }}">
								</a>
								<a class="social-link"
									href="tel:+7 (905) 740-80-30"
									target="_blank"
								>
									<img src="{{ static('images/icons/phone.svg') }}">
								</a>
							</div>
						</div>
						<div class="about__content-right">
							<div class="about__text">
									<div class="quote quote_start">
										“
									</div>
									<p>
									Я психолог, гештальтерапевт, гипнолог, 
									кандидат социологических наук. Я закончила 
									магистратуру МГУ, обучалась у лучших российских и европейских специалистов, 
									постоянно совершенствую свои знания. Я люблю людей и верю в
									уникальность каждого человека.
									</p>
									<p>Я верю, что каждый человек, обладает всеми необходимыми ресурсами, 
									и способен сделать свою жизнь лучше и гармоничнее. 
									В то же время необходимо большое мужество, чтобы встать 
									на путь самопознания, исцеления, встречи со своими 
									«демонами». Когда человек начинает ясно видеть свои 
									способы взаимодействия с другими людьми, брать 
									ответственность за свою жизнь и знакомиться с 
									новыми способами реагирования на привычные 
									ситуации, он становится творцом своей жизни.
									<p>Как же здорово жить легко, комфортно, полноценно, используя возможности и ресурсы своей психики
									и своего тела, получая от жизни больше удовольствия.
									</p> 
									<div class="quote quote_end">
										”
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="goals">
			<div class="content-area_mb">
				<div class="goals__content">
					<h2 class="subtitle">
						Цель терапии:
					</h2>
					<p>
					Помочь клиенту вырваться из круга неудач, научиться контролировать 
					разрушительные импульсы или 
					преодолевать подавляющее состояние апатии и бессилия.
					</p>
				</div>
			</div>
			<div class="overlay"></div>
			<div class="gradient">
			</div>
		</div>

		<div class="message">
			<div class="content-area_mb">
				<div class="message__content">
					<div class="quote quote_start">
					“
					</div>
					<p>
					Мы живём в мире, который заставляет нас двигаться на высоких 
					скоростях, преодолевать себя, желать большего, стремиться
					соответствовать образу «идеального» современного человека,
					перед которым открыты многочисленные возможности.

					Сейчас доступна практически любая информация, любая профессия, 
					даже выбор хлеба или кофе в магазине может озадачить.
					</p>

					<p>
					К сожалению, количество предлагаемых вариантов чаще ставит в тупик,
					а не наоборот.

					А красивые картинки в социальных сетях, 
					увлекательные истории по телевидению и радио, пестрящие обложки 
					журналов, лишь добавляют масло в огонь. 
					</p>

					<p>
					Мы все больше ориентируемся на внешние показатели 
					успешности, все дальше уходя от себя истинных, от 
					настоящих чувств и проживаний, от ощущения своей 
					индивидуальности и уникальности.

					В погоне за «абсолютным счастьем», карьерой, 
					общественным призванием, красивым телом, мы начинаем
					терять себя, свою свободу, спонтанность. 
					</p>

					<p>
					Мы начинаем ощущать своё одиночество 
					несмотря на многочисленные социальные 
					связи, наличие семьи и друзей, убегать от тревоги посредством смены работы, 
					изнурительных занятий спортом, алкоголя, новых сексуальных связей.
					</p>

					<p>
					И здесь очень важно вовремя остановиться, и 
					обратиться за профессиональной помощью.

					Опытный психолог может помочь разобраться в себе, в своих 
					истинных желаниях, найти новые ориентиры  или разобраться в старых, понять
					способы взаимодействия с окружающими, скорректировать 
					их если это необходимо, восстановить гармоничные 
					отношения с собой, с миром, с окружающими.
					</p>
					<div class="quote quote_end">
						”
					</div>
					<div class="singature">
						— АНАСТАСИЯ КУЗНЕЦОВА
					</div>
				</div>
			</div>
		</div>

		{% block quotes %}
			{% include "blocks/quotes.html" %}
		{% endblock quotes %}
		
	</div>
{% endblock content %}

{% block scripts %}
	{{ super() }}
	<script src="{{ static('js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ static('js/owl.carousel.min.js') }}"></script>
	<script src="{{ static('js/main.js') }}"></script>
{% endblock scripts %}