{% extends "base.html" %}

{% block css %}
	{{ super() }}
{% endblock css %}

{% block content %}
    <div class="content-area">
        <div class="page-content">
            <div class="policy-page">
                <div class="text-block">
                    <h1 class="title text-block__title">
                        Политика конфиденциальности
                    </h1>
                    <div class="text-block__content">
                        Настоящий документ «Политика конфиденциальности» (далее – по тексту –<br>«Политика») представляет 
                        собой правила использования ИП Кузнецова А.С.
                        <br>персональных данных Пользователя, предоставляемых 
                        им при регистрации на сайте<br>
                        <a class="link" href="https://anastasiakuznetsova.ru/">
                            https://anastasiakuznetsova.ru/
                        </a><br>
                    </div>
                </div>
                <div class="text-block">
                    <h2 class="text-block__title">
                        1. Общие положения политики
                    </h2>
                    <div class="text-block__content">
                        1.1. Регистрируясь на Сайте Кузница Полноценной Жизни
                        <a class="link" href="https://anastasiakuznetsova.ru/">https://anastasiakuznetsova.ru/</a> 
                        (далее Сайт) или оставляя свои персональные данные на Сайте иным образом,<br> 
                        Вы соглашаетесь (присоединяетесь) с настоящей 
                        Политикой конфиденциальности. 
                        <br>Вы свободно, своей волей и в своих интересах даете согласие на следующие 
                        способы обработки<br>своих персональных данных:
                        <br>сбор, запись, систематизация, 
                        накопление, хранение, уточнение 
                        (обновление,<br>изменение), извлечение, 
                        использование, передача 
                        (распространение,<br>предоставление, доступ), 
                        обезличивание, блокирование, 
                        удаление, уничтожение<br>персональных данных.<br>
                    </div>
                </div>
                <div class="text-block">
                    <h2 class="text-block__title">
                        2. Персональные данные, предоставляемые Пользователем
                    </h2>
                    <div class="text-block__content">
                        2.1. Под Персональными данными в настоящей Политике понимается:<br><br>
                        2.1.1. Информация, предоставляемая пользователем самостоятельно, 
                        включая<br>персональные данные пользователя, включая Фамилию, 
                        Имя, Отчество, электронную<br>почту, телефон,
                        адрес и другие данные.
                        <br><br>
                        2.1.2. Данные, которые передаются в автоматическом режиме (IP адреса, файлы<br>cookies и т.п.).
                        <br><br>
                        2.2. В рамках использования Сайта Пользователь обязуется 
                        предоставлять только<br>достоверные данные и несет 
                        ответственность за предоставленную им информацию.
                        <br><br>
                        2.3. В процессе пользования Сайтом (в том числе при регистрации, 
                        размещении<br>материалов, размещении персональных 
                        данных в специализированных разделах<br>Сайта и т.п.),
                        Пользователь самостоятельно и добровольно принимает
                        решение о<br>предоставлении ИП Кузнецова А.С.; 
                        или размещении в открытом доступе
                        <br>персональных и иных сведений о 
                        себе (фамилия, имя, отчество или псевдоним<br>
                        Пользователя, адрес электронной почты, 
                        номер мобильного телефона, а 
                        также любая<br>иная информация, предоставленная 
                        Пользователем, в том числе содержащаяся в<br>сообщениях, 
                        направляемых через форму обратной связи на Сайте, 
                        информация о<br>действиях Пользователя на Сайте и пр.) 
                        для целей заключения в будущем договора<br>с ИП Кузнецова А.С.; 
                        и его исполнения, для целей предоставления<br>
                        консультационной поддержки Пользователям в 
                        связи с использованием Сайта,
                        <br>проверки размещаемой на Сайте 
                        информации на предмет соответствия
                        Правилам,<br>размещенным на Сайте, 
                        получения статистических и аналитических данных,
                        <br>получения рассылок рекламно-информационного 
                        характера от ИП Кузнецова А.С.<br> или третьих лиц, 
                        предупреждения или пресечения незаконных 
                        и/или<br>несанкционированных действий 
                        Пользователей или третьих лиц, обеспечения<br>соблюдения 
                        требований действующего законодательства Российской Федерации.
                        <br>ИП Кузнецова А.С. принимает необходимые и 
                        достаточные организационные и
                        <br>технические меры для защиты персональных данных Пользователя 
                        от<br>неправомерного или случайного доступа, уничтожения, изменения, 
                        блокирования,<br>копирования, распространения, а 
                        также от иных неправомерных действий с ней<br>третьих лиц.
                        <br><br>
                        2.4. ИП Кузнецова А.С. не обязана осуществлять предварительную 
                        проверку<br>информации любого вида, размещаемой и/или распространяемой 
                        Пользователем<br>посредством Сайта. 
                        ИП Кузнецова А.С.
                        имеет право по своему 
                        усмотрению<br>отказать Пользователю в размещении и/или распространении им 
                        любой информации<br>или удалить любые данные, которые размещены 
                        Пользователем на Сайте.<br>Пользователь осознает и согласен 
                        с тем, что он должен самостоятельно оценивать<br>все риски, 
                        связанные с размещением и распространением любых сведений, 
                        включая<br>оценку надежности, 
                        полноты или полезности такового.
                        <br><br>
                        2.5. Изменение и отзыв Персональных данных
                        <br><br>
                        2.5.1. Каждый Пользователь вправе изменить 
                        свои персональные данные в личном<br>кабинете.<br><br>
                        2.5.2. Согласие на обработку персональных данных 
                        может быть отозвано<br>пользователем в любой момент. 
                        Для реализации права на отзыв пользователь
                        <br>должен направить соответствующее обращение 
                        а адрес <a class="link" href="mailto:a.kuznetsova.psy@mail.ru">a.kuznetsova.psy@mail.ru</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
	{{ super() }}
{% endblock scripts %}