.about {
    padding: 64px 0px;
}

.about__content {
    display: flex;
    flex-direction: column-reverse;
    @include mq($from: desktop) {
        flex-direction: row;
    }
}

.about__content-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    @include mq($from: desktop) {
        width: 50%;
    }
}

.about__content-right {
    position: relative;
    text-align: justify;
    padding-top: 30px;
    .quote_start {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    @include mq($from: desktop) {
        padding-left: 30px;
        width: 50%;
    }
}

.about__img-wrap {
    text-align: center;
    position: relative;
    width: 100%;
    img {
        width: 100%;
        height: auto;
        z-index: 1;
        max-width: 500px;
    }
    @include mq($from: desktop) {
        text-align: left;
        img {
            height: 450px;
            width: auto;
        }
    }
    @include mq($from: wide) {
        img {
            height: 500px;
            width: auto;
        }
    }
}

.about__text {
    font-size: 16px;
    line-height: 1.9;
    p {
        margin-bottom: 16px;
    }
}

.about__contacts {
    display: flex;
    width: 100%;
    max-width: 624px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 24px;
    .social-link {
        height: 36px;
        width: 36px;
    }
    @include mq($from: desktop) {
        position: absolute;
        display: block;
        top: 0px;
        right: 54px;
        width: auto;
        margin-top: 0px;
        .social-link {
            margin-bottom: 16px;
        }
    }
    @include mq($from: wide) {
        right: 100px;
    }
}

.about__link {
    height: 33px;
    width: 33px;
    margin-bottom: 16px;
    img {
        height: 100%;
        width: 100%;
    }
}