.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    .content-area {
        height: 100%;
    }
    @include mq($from: desktop) {
        height: 768px;
    }
}

.hero__content-wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.hero__content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    @include mq($from: desktop) {
        width: 970px;
    }
    @include mq($from: wide) {
        width: 1170px;
    }
}

.hero__text {
    position: absolute;
    padding: 0px 16px;
    bottom: 64px;
    left: 0px;
    width: 100%;
    font-weight: 600;
    color: white;
    @include mq($from: desktop) {
        font-size: 32px;
        position: relative;
        bottom: 0px;
        left: 0px;
    }
}

.hero__placeholder {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background: #E59492;
    z-index: -6;
    @include mq($from: desktop) {
        height: 768px;
    }
}

.hero__image {
    height: 100%;
    background-image: url(../images/main-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
}

.hero__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.1;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.60));
}

.hero__title {
    margin-bottom: 32px;
    width: 100px;
    letter-spacing: 6px;
    @include mq($from: desktop) {
        font-size: 48px;
    }
}

.hero__name {
    font-size: 32px;
    margin-bottom: 32px;
}

.hero__first-name {

}

.hero__last-name {
    
}