.icon {
    height: 22px;
    width: 22px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.icon_menu {
    background-image: url("../images/icons/menu.svg");
}

.icon_close {
    background-image: url("../images/icons/close.svg");
}