.goals__content-wrap {
    position: relative;
    height: 100%;
}

.goals {
    position: relative;
    margin-bottom: 64px;
    .content-area {
        height: auto;
    }
    .content-area {
        height: 100%;
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/brain.png);
    .gradient {
        opacity: 0.83;
        z-index: 0;
    }
    .overlay {
        opacity: 0.5;
    }
}

.goals__content {
    padding: 102px 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 1000;
    line-height: 1.8;
    @include mq($from: desktop) {
        font-size: 24px;
    }
}

.goals__list {
    max-width: 700px;
    list-style: square outside;
}

.goals__list-item {
    margin-bottom: 16px;
    list-style: square outside;
    @include mq($from: tablet) {
        text-align: left;
    }
}