<header class="header scrolled container-fluid">
    <div class="content-area_mb">
        <div class="header__desktop">
            <div class="header__logo-wrap">
                <a class="logo scroller" href="/">
                    anastasia<br>kuznetsova.ru
                </a>
            </div>
            <nav class="header__nav">
                <ul>
                    <li>
                        <a class="scroller" href="#about">
                            Обо мне
                        </a>
                    </li>
                    <li>
                        <a class="scroller" href="#goals">
                            Цели
                        </a>
                    </li>
                    <li>
                        <a class="scroller" href="#reviews">
                            Отзывы
                        </a>
                    </li>
                    <li>
                        <a class="scroller js-contact" href="#contacts">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__mobile">
            <div class="burger header__burger"
                onclick="openNav()"
            >
                <i class="icon icon_menu">
                </i>
            </div>
        </div>
    </div>
</header>
