<div class="review">
    <div class="review__title">
        <div class="review__photo-wrap">
            <img src="{{ static('images/author.png') }}">
        </div>
        <div class="review__author">
            <h3>Иван Завалишин, фотограф</h3>
        </div>
    </div>
    <div class="review__text">
            <p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.</p>
            <p>Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение дальнейших направлений развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</p>
    </div>
</div>

<div class="review">
    <div class="review__title">
        <div class="review__photo-wrap">
            <img src="{{ static('images/author.png') }}">
        </div>
        <div class="review__author">
            <h3>Иван Завалишин, блогер</h3>
        </div>
    </div>
    <div class="review__text">
            <p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.</p>
            <p>Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение дальнейших направлений развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</p>
    </div>
</div>

<div class="review">
    <div class="review__title">
        <div class="review__photo-wrap">
            <img src="{{ static('images/author.png') }}">
        </div>
        <div class="review__author">
            <h3>Иван Завалишин, фотограф</h3>
        </div>
    </div>
    <div class="review__text">
            <p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.</p>
            <p>Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение дальнейших направлений развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</p>
    </div>
</div>

<div class="review">
    <div class="review__title">
        <div class="review__photo-wrap">
            <img src="{{ static('images/author.png') }}">
        </div>
        <div class="review__author">
            <h3>Иван Завалишин, блогер</h3>
        </div>
    </div>
    <div class="review__text">
            <p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.</p>
            <p>Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет оценить значение дальнейших направлений развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</p>
    </div>
</div>