@import "../../node_modules/normalize-scss/sass/normalize";
@import '../../node_modules/sass-mq/mq';

@import 'abstracts/*';
@import 'base/*';
@import 'layout/*';
@import 'components/*';
@import 'pages/*';
@import 'themes/*';
@import 'UIKit/*';

@import '../fonts/HelveticaRegular/HelveticaRegular.css';

$mq-breakpoints: (
    mobile:  480px,
    tablet:  750px,
    desktop: 970px,
    wide:    1170px
);



.gradient {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #e3e3e3;
    background: -webkit-linear-gradient(-170deg, #FFD2D2 60%, #F5FBC6 100%);
    background: linear-gradient(-170deg, #FFD2D2 60%, #F5FBC6 100%);
    z-index: -1;
    opacity: 0.5;
}

.subtitle {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}

.services__content-wrap {
    position: relative;
    height: 100%;
}

.services__content {
    height: 100%;
    .content-area {
        height: 100% !important;
    }
}

.services {
    margin-bottom: 64px;
    height: 500px;
    .content-area {
        height: auto;
    }
}

.services__background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 100%;
    background-image: url(../images/brain.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -7;
    opacity: 0.5;
}

.services__item {
    height: 100%;
    width: 23%;
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
}

.services__list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 16px 0px;
}