<div class="quotes">
    <div class="gradient">
    </div>
    <div class="content-area_mb">
        <div class="owl-carousel owl-theme"
            id="carousel-1"
        >
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “К психологическому росту ведет сознавание настоящего без убегания в прошлое или будущее. 
                    Переживание настоящего в любой данный момент есть единственно возможный реальный опыт, 
                    условие удовлетворенности и полноты жизни, и состоит в принятии с открытым сердцем этого 
                    опыта настоящего.”
                    <div class="author">
                        <a class="author__name"
                        >
                            Фредерик Перлз
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_01.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “Огромным достижением личности… является акт высочайшего мужества – обращение лицом к жизни;
                    так происходит полное утверждение всего, что составляет суть личности, так осуществляется успешная
                    адаптация к универсальным основам бытия при максимально возможной свободе самоопределения.”
                    <div class="author">
                        <a class="author__name">
                            К. Г. Юнг
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_02.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “Многочисленные проблемы возникают, когда мы пытаемся оправдать ожидания других, 
                    вместо того, чтобы определить наши собственные.”
                    <div class="author">
                        <a class="author__name">
                        Карл Роджерс 
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_03.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “Когда необходимо сделать выбор, а вы его не делаете, – это тоже выбор.”
                    <div class="author">
                        <a class="author__name">
                        Уильям Джеймс  
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_04.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “Ваш взор станет ясным лишь тогда, когда вы сможете заглянуть в свою собственную душу.”
                    <div class="author">
                        <a class="author__name">
                        Карл Густав Юнг  
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_02.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “К психологическому росту ведет сознавание настоящего без убегания 
                    в прошлое или будущее. Переживание настоящего в любой данный 
                    момент есть единственно возможный реальный опыт, условие
                    удовлетворенности и полноты жизни, 
                    и состоит в принятии с открытым сердцем этого 
                    опыта настоящего.”
                    <div class="author">
                        <a class="author__name">
                        Фредерик Перлз  
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_01.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “Счастье подобно бабочке. Чем больше ловишь его, тем 
                    больше оно ускользает. Но если вы перенесете
                    свое внимание на другие вещи, 
                    Оно придет и тихонько сядет вам на плечо.”
                    <div class="author">
                        <a class="author__name">
                        Виктор Франкл
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_05.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “Стремление найти смысл жизни является главной мотивирующей силой в человеке...
                    Я не побоюсь сказать, что в мире не существует более действенной 
                    помощи для выживания даже в самых ужасных условиях, 
                    чем знание, что твоя жизнь имеет смысл.”
                    <div class="author">
                        <a class="author__name">
                        Виктор Франкл
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_05.jpg') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="quotes__item">
                <div class="quotes__item-content">
                    “Несчастная судьба многих людей – следствие несделанного ими выбора.
                    Они ни живые, ни мертвые. Жизнь оказывается бременем, 
                    бесцельным занятием, а дела – лишь средством защиты от мук бытия в царстве теней.”
                    <div class="author">
                        <a class="author__name">
                        Эрих Фромм
                        </a>
                        <div class="author__photo-wrap">
                            <img class="author__photo"
                                src="{{ static('images/author_06.png') }}"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>