<div class="review">
    <div class="review__title">
        <div class="review__photo-wrap">
            <img src="{{ static('images/authors/author_02.jpg') }}" alt="Алексей Вязовой">
        </div>
        <div class="review__author">
            <h3>Алексей Вязовой, стилист</h3>
        </div>
    </div>
    <div class="review__text">
            <p>Спасибо за помощь в решении моей проблемы с мамой. Техника письма дала огромный толчок в изменении ситуации, да и я сам после написания своих мыслей на бумагу, уже на этом этапе стал чувствовать себя легче, и многое для себя решил! Спасибо!!</p>
    </div>
</div>

<div class="review">
    <div class="review__text">
        <p>
            Анастасия, Спасибо за вашу работу. Хоть это было и не легко, но благодаря вашей
            поддержке и вере, я смогла разобраться в себе и выйти из зависимых отношений.
            Учусь лучше слышать себя.
        </p>
        <p>
            Спасибо вам.
        </p>
    </div>
</div>

<div class="review">
    <div class="review__text">
        <p>
            Дорогая, благодарю тебя от всей души за нашу встречу.
            Как только я открыла дверь — поняла, что пришла именно туда,
            куда хотела. Уютно, с любовью была сделана каждая деталь.
            Потрясающая работа с красками, карандашами, потоковые рисунки.
        </p>
        <p>
            Я проработала тему отношений с близким человеком, поела
            восхитительный виноград с печеньками и гречишный чай, 
            ты такая нежная, теплая
        </p>
    </div>
</div>

<div class="review">
    <div class="review__text">
        <img class="review-image" src="{{ static('images/authors/review_04.jpg') }}" alt="Отзыв">
    </div>
</div>

<div class="review">
    <div class="review__text">
        <p>
            Спасибо вам за проделанную работу. проработка детских переживаний
            помогла взглянуть на многие ситации по новому.
        </p>
    </div>
</div>